* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: teal;
}

/* img {
    width: 400px;
    height: 300px;
    margin: 30px;
    transition: 1s;
    filter: grayscale(80%);
} */

/* img:hover { */
/* filter: invert(75%); */
/* filter: hue-rotate(180deg); */
/* filter: saturate(60%); */
/* filter: sepia(60%); */
/* filter: opacity(60%); */
/* filter: brightness(0.4); */
/* filter: grayscale(0%); */
/* filter: blur(5px); */
/* filter: contrast(120%); */
/* } */

section {
    width: 700px;
    height: 400px;
    background-color: #fff;
    margin: 40px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    /* margin: 40px; */
    /* transition: 1s; */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .box:hover { */
/* transform: skew(20deg); */
/* transform: matrix(1, 2, 3, 4, 5, 6); */
/* transform: translate(50px, 10px); */
/* transform: scale(1.2); */
/* transform: rotateX(90deg); */
/* transform: translateY(50px); */
/* } */


/* .box:first-of-type { */
/* margin-top: 80px; */
/* transform: translateY(30px); */
/* } */